:root { 
--deep_orange_50:#fbebea; 
--blue_gray_300:#8da4bf; 
--blue_600:#3079e1; 
--light_blue_700:#0073e6; 
--gray_300:#dde5ea; 
--gray_50:#f6f8fa; 
--blue_50:#e5f1fc; 
--gray_300_01:#dadce0; 
--teal_100:#bacbd5; 
--red_50:#fce8ef; 
--deep_purple_50:#ebe8fd; 
--green_A700:#05c165; 
--deep_orange_A700:#d63500; 
--deep_purple_A200:#6548ee; 
--white_A700:#ffffff; 
--indigo_800:#1c4980; 
--pink_400:#e9407a; 
}